body {
	background-color: #424558;
	font-family: 'Source Code Pro',"Comic Sans MS",serif;
	font-weight: 16px;
	line-height: 1.7;
	margin:0;
	padding:0;

}

footer {
	display: block;
}

#main {
	position: relative;
	top: 30%;
	/*left: 30%;*/
	font-size: 40px;
	/*padding: 20px;*/
	border: solid violet 2px;
}

#side {
	position: fixed;
	top: 40%;
	left: 30%;
	font-size: 40px;
}

#copyright {
	text-align: right;
	font-size: 14px;
	padding-left: 10%;
	margin-left: 0;
}

.topmenu {
	padding-left: 8%;
    height: 10%;
    width: 100%;
	position: fixed;
	top: 0;
	left: 0;
    background-color: #55c57a;
}

.topmenu a {
	padding-top: 2%;
	margin-left: 5%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: inline-block;
	top: 50;
}

.topmenu a:hover {
    color: deeppink;
}

.botmenu {
	padding-left: 26%;
    height: 10%;
    width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
    background-color: #55c57a;
}

.botmenu a {
	margin-left: 13%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: inline-block;
}

.botmenu a:hover {
    color: deeppink;
}

.botmenu p {
	margin-left: 15%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: inline-block;
}

