body {
	background-color: lightpink;
	font-family: 'Source Code Pro',"Comic Sans MS",serif;
	font-weight: 16px;
	line-height: 1.7;
	margin:0;
	padding:0;

}
.header, #main, #contenu, .footer {
    padding:1px 0;
}

.footer {
	display: block;
}

#main {
	position: relative;
    top:20%;
    max-width:160vw;
    max-height: 160vw;
    margin:auto;
	border: solid violet 2px;
}
#contenu{
    float: left;
    background-color: darkkhaki;
    text-align: center;
    width:10vw;
    /*position:absolute;*/
#side {
	/*position: fixed;*/
	/*top: 30%;*/
	margin-left: 60%;
    background-color: aqua;
	font-size: 40px;
}

#copyright {
	text-align: right;
	font-size: 14px;
	padding-left: 10%;
	margin-left: 0;
}

.header {
	padding-left: 8%;
    height: 10vw;
    width: 100%;
	position: fixed;
	top: 0;
	left: 0;
    /*background-color: #55c57a;*/
    background-size: auto;
    background-image: url(../img/bgheader.jpg);
}

.header a {
	padding-top: 2%;
	margin-left: 5%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: inline-block;
	top: 50;
}

.header a:hover {
    color: deeppink;
}

.footer {
	padding-left: 26%;
    height: 10%;
    width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
    background-color: #55c57a;
    background-imge: url(../img/bgheader.jpg);
}

.footer a {
	margin-left: 13%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: inline-block;
}

.footer a:hover {
    color: deeppink;
}

.footer p {
	margin-left: 15%;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: inline-block;
}